body * {
    font-family: 'Source Sans Pro', sans-serif;
}



main {
  font-size: 0;
}



h1 {
  font-size: 35px;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 900;
}

h2 {
  line-height: 1;
  margin-bottom: 0;
}

p {
  font-size: 18px;
  margin-top: .2em;
  font-weight: 300;
  display: block;
}

.card-image {
  width: 100%
}

.card {
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
}


.card-info {
  padding: 15px;
}

header {
  margin-bottom: 40px;
  background-color: #F5B041;
}


